
.scrolled {
            background-color: #FFF;
            box-shadow: 0 1px 15px #00000029;
        }

        .header {
            padding: 14px 0;
            position: fixed;
            width: 100%;
            z-index: 1010;
            border-radius: 0 0 90px 90px;
            transition: all ease .3s;
        }

        .dcolor {
            color: #002856;
        }

        .search svg {
            fill: #002856;
        }

        /* 
        #search {
            border: 2px solid #002856;
        } */

        #search:hover svg {
            fill: #FFF;
        }

        html,
        body {
            font-family: 'titillium-web', sans-serif;
            color: #212529;
        }

        .section-line {
            border-top: 1px solid #FFB71B;
            position: relative;
        }

        .section-line:after {
            content: '';
            width: 132px;
            height: 3px;
            background-color: #FFB71B;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }

        .productcat-box {
            border: 1px solid #E8E7E7;
            height: 100%;
            padding-bottom: 96px;
            position: relative;
            display: block;
            transition: all 0.3s;
        }

        .pro .ra .r {
            color: #002856;
            transition: all;
            transition-duration: 300ms;
        }

        .pro:hover .ra .r {
            color: #FFB71B;
        }

        .rac .rc {
            color: #002856;
            transition: all;
            transition-duration: 300ms;
        }

        .rac:hover .rc {
            color: #FFB71B;
        }

        .footer {
            padding-top: 63px;
            color: #FFB71B;
            box-shadow: 0 -7px 20px #00000070;
            position: relative;
            z-index: 401;
            overflow: hidden;
        }

        #search-input:focus {
            border: 0 !important;
            border: none !important;
            border: 0 solid #002856 !important;
        }